
   <%= render 'layouts/nav' %>

    
    <!-- header -->
    <header>
            <!-- messages -->

        <%= render 'layouts/messages' %>

        <section  class="row">
            <div class="medium-12 columns text-center">
                <h1>Get paid to connect friends with opportunities</h1>
                <!-- graphic here> -->
                <div>
                    <img src="assets/homepage_transaction.png">
                </div>
                <button class="button radius clearfix" data-reveal-id="registration-modal">Register with LikendIn</button>
            </div>
        </section>

    </header>

    <article class="content cube_bg">
        <div class="row">
            <div class="medium-12 columns">
                <section class="small-4 columns">
                    <h2>Find</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet elit ultricies, placerat augue nec, interdum velit. Nunc dapibus sodales augue a tincidunt. Integer ultrices nibh vel scelerisque lobortis. Duis malesuada neque nec tortor vehicula, vitae malesuada lectus tincidunt. 
                    </p>
                    <button class="button radius clearfix">SEE ALL JOBS</button>
                </section>
                <section class="small-4 columns">
                    <h2>Share</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet elit ultricies, placerat augue nec, interdum velit. Nunc dapibus sodales augue a tincidunt. Integer ultrices nibh vel scelerisque lobortis. Duis malesuada neque nec tortor vehicula, vitae malesuada lectus tincidunt. 
                    </p>
                    <button class="button radius clearfix">REACH OUT</button>
                </section>
                <section class="small-4 columns">
                    <h2>Mobilize</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet elit ultricies, placerat augue nec, interdum velit. Nunc dapibus sodales augue a tincidunt. Integer ultrices nibh vel scelerisque lobortis. Duis malesuada neque nec tortor vehicula, vitae malesuada lectus tincidunt. 
                    </p>
                    <button class="button radius clearfix">GET PAID</button>
                </section>
            </div>
        </div>
    </article>

    <%= render 'layouts/footer' %>
    <%= render 'layouts/registration_modal' %>






