
<!-- Fixed navbar -->
<div class="fixed">
    <nav class="top-bar" data-topbar role="navigation" >
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Rootsy</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li><a href="#">How it works</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/signin">Sign In</a></li>
            <li><a href="/signout">Sign Out</a></li>          
        </ul>

        <!-- Left Nav Section -->
        <!--ul class="left">
          
        </ul -->
      </section>
      
    </nav>
</div>

<!-- header -->
 <header>


        <section  class="row">
            <div class="medium-12 columns text-center">
               <ul class="list-group">
                <li class="list-group-item">Item 1</li>
                <li class="list-group-item">Item 2</li>
                <li class="list-group-item">Item 3</li>
             </ul>
            </div>
        </section>

    </header>

<!-- main -->
<article class="content cube_bg">
  </article>
