    <footer>
        <div class="row text-center">
            <div class="medium-12 columns">
                <section class ="small-4 columns">
                    <a href="#">How it works</a>
                </section>
                <section class ="small-4 columns">
                    <a href="#">Contact</a>
                </section>
                <section class ="small-4 columns">
                    <a href="#">Terms and Privacy</a>
                </section>
            </div>
        </div>
    </footer>